@font-face{
    font-family: niga;
    src:url(../resources/fonts/fontic.ttf);
}
@font-face{
    font-family: nigan;
    src:url(../resources/fonts/naslovi.ttf);
}
*{
    list-style-type:none ;
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    text-decoration: none;
    box-sizing: border-box;
    transition-duration: 0.5s;
    color: black;
    font-family: niga;
    font-weight:500;
    white-space: normal;
    scroll-behavior: smooth;
}
body{
    --clr1:rgb(223, 241, 241);
    --clr2:rgb(232, 243, 237);

    --primary:rgb(255, 255, 255);
     --secondary1:rgb(233, 162, 213);
    --secondary2:rgb(48, 199, 206);
    --secondary3: rgb(118, 206, 200);  
      
    /* --secondary3: rgb(101, 170, 165);   */
}
img{
    user-select: none;
    /* object-fit:contain; */
    /* object-position: center; */
}
img:hover{
    cursor: pointer;
}
h1,h2,h3,h4{
    font-family: nigan;
    letter-spacing: 2px;
    color: var(--secondary3);

}
/* ⁡⁢⁣⁣.........TAGS.........⁡ */
h2{
    font-size: 40px;
}
h1{
    /* font-size: 50px; */
    /* font-size: 120%; */
    text-align: center;
    margin-top: 16px;
    font-size: 50px;
}

header{
    position: sticky;
    top: 0%;
    display: flex;
    justify-content:center;
    gap: 7vw;
    align-items: center;
    height: 6vw;
    background-color: var(--secondary3);
    border-bottom: 2px solid var(--secondary3);
    /* width: 100vw; */
    z-index: 10;
}
header>ul{
    display: flex;
    gap: 30px;
    height: 100%;
}
i{
    color: var(--primary);
}
li>i{
    font-size: 12px;
}
header>ul>li, header>ul>li>a, header>ul>li>p{
    font-size:20px;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--primary);
    font-weight: 600;
}
p{
    font-size: 20px;
}
footer>div:first-of-type{
    border: 4px solid var(--secondary3);
    border-radius: 10px;
    padding: 0.5em;
}
.footerDropDown{
    display: flex;
    max-height:1000px;
}
.footerDropDown ul li{
    margin-left: 0px;
}
.footerDropDown .nav{
    display: flex;
    gap: 1vw;
}
.footerDropDown .nav .subMeni{
    margin-top: 12px;
}
.footerDropDown .nav h4{
    margin-top: 12px;
}
footer{
    padding: 50px 15vw;
    display: flex;
    margin-top: 20px;
    background-color: var(--secondary3);
    justify-content: center;
    gap: 2vw;
    border: 2px solid var(--secondary3);
    /* align-items: center; */
}
footer>div:last-of-type{
    border-radius: 20px;
    border: 4px solid var(--secondary3);
    padding: 0.5vw;
}
footer *{
    color: var(--primary);
}
footer h3{
    color: var(--secondary1);
    /* text-shadow: none; */
}
footer button{
    padding: 10px;
    background-color: var(--primary);
    color: var(--secondary3);
    border-radius: 20px;
    font-size: 20px;
}
footer h2{
    margin-bottom: 16px;
}
footer button{
    margin-bottom: 12px;
}
.info{
    display: grid;
    grid-template-columns: 30px 500px;
    grid-template-rows: 50px 50px;
    gap: 5px;
}
.info i{
    font-size: 30px;
    align-self: center;
}

iframe{
    width: 20vw;
    height: 15vw;
}


/* ⁡⁢⁣⁣........CUSTOM CLASS..........⁡ */
.ml{
    margin-left: 1vw;
}
.middle{
    text-align: center;
    padding: 50px 15vw;
    /* background-color: var(--secondary3) ; */
    margin-top: 10px;
    width: 100%;
}
.opis>p:first-of-type{
    margin-top: 24px;
}
.opis>p:last-of-type{
    margin-top: 16px;
}
.row{
    display: flex;
    align-items: center;
}
.col{
    display: flex;
    flex-direction: column;
    align-items:start;
}

.middle img{
    width: 25vw;
    margin: 3px;
    border-radius: 20px;
}

.ig{
    gap: 4px;
    margin: 8px 0px 16px 0px;
}

.hero{
    margin-top: 10px;
    background-image:url(../resources/images/background.png);
    background-size:1920px;
    background-repeat: no-repeat;
    background-position: 0px -300px;
    padding: 15vw 25vw;
}
.hero h1{
    color: var(--primary);
}
.side{
    font-size: 15px;
    transform: rotateZ(-90deg);
}
.down{
    margin-left: 7px;
    font-size: 15px;
    transform: rotateZ(0deg);
}
#torte:hover .down{
    transform: rotateZ(-180deg);
}
#figure:hover .down{
    transform: rotateZ(-180deg);
}
#ponuda:hover .down{
    transform: rotateZ(-180deg);
}
.dropDown,#pd{
    visibility: hidden;
    opacity: 0;
    display: flex;
    
    flex-direction: column;
    position: absolute;
    top: 70%;
    background-color: var(--secondary3);
    border: 2px solid var(--secondary1);

    padding: 10px 20px;
    gap: 10px;
}
#torte:hover .dropDown{
visibility: visible;
    opacity: 1;
}
#ponuda:hover #pd{
    visibility: visible;
    opacity: 1;
    width: 200px;
}
#header li{
    cursor: pointer;
}
#header a{
    color: white;
    font-weight: bold;
    white-space: nowrap;

}
#t1,#t2,#t3{
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--secondary1);
    position: absolute;
    width: auto;

    left: 100%;
    top: -1.5%;
    background-color: var(--secondary3);
    padding: 10px 20px;
    gap: 10px;
}
#t2{
    top: 30%;

}
#t3{
    top: 45%;
}
.svecane:hover #t1{
    visibility: visible;
    opacity: 1;
}
.mladenacke:hover #t2{
    visibility: visible;
    opacity: 1;
}
.decije:hover #t3{
    visibility: visible;
    opacity: 1;
}
/*

.dropDown{
    visibility: hidden;
    opacity: 0;
    display: flex;
    position: absolute;
    left: 0%;
    top: 5.2vw;
    margin: 0px 30%;

    transition-duration: 0.5s;

    max-height:1000px;
    background-color: var(--secondary3);
    border-radius: 0px 0px 20px 20px;
    border-style:  solid;
    border-color:  var(--primary);
    border-width: 0px 2px 2px 2px;

    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.250),
    -10px 10px 10px rgba(0, 0, 0, 0.250);
}
#meni:hover .dropDown{
    visibility: visible;
    opacity: 1;
    margin-top: 0.7vw;
}
.dropDown *{
    white-space: nowrap;
}
.dropDown .nav{
    display: flex;
}
.dropDown>.nav>li{
    font-size: 20px;
    padding: 1vw 3vw;
    color: var(--primary);
    text-align: left;
    border-right: 2px solid white;   
}
.dropDown>.nav>li:last-child{
    border-right: none;   

}
.dropDown>.nav>li>h3{
    margin-bottom: 0.5vw;
    color: var(--secondary1);
    text-underline-offset: 10px;
     //text-decoration: var(--secondary3) underline; 
}
/* .dropDown>.nav>li>h3:hover:after{
    transition-duration: 1s;
    width: 100%;
} */
/* .dropDown>.nav>li>h3:after{
        transition-duration: 1s;
    content: '';
    display: block;
    position: relative;
    left: 0%;
    top: 0%;
    width: 0%;
    height: 2px;
    margin-top: 3px;
    background-color: var(--secondary2);
} */
 /*
.dropDown>.nav>li h4{
    margin-top: 10px;
    color: var(--secondary2);
}
.subMeni>li:first-child>h4{
    margin-top: 0px;
}
*/
/*⁡⁢⁣⁣ ////////////////////////////////////////////////////////⁡ */
.logo{
    width: 7vw;
    margin-left: -200px;
}
.subMeni li{
    text-align: left;
    font-size: 20px;
    color: var(--primary);
}
.nav>li h3,h4{
    /* text-shadow: 1px 1px 5px black; */
    display: inline-block;
}
/* .dropDown>.nav>li h4:hover:after{
    transition-duration: 1s;
    width: 100%;
}
.dropDown>.nav>li h4:after{
        transition-duration: 1s;
    content: '';
    display: block;
    position: relative;
    left: 0%;
    top: 0%;
    width: 0%;
    height: 2px;
    margin-top: 3px;
    background-color: var(--secondary1);
} */
.nav>li a, li>p{
    color: var(--primary);
    cursor: pointer;
}
.subMeni>li{
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 5px;
}





.mainCene{
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 16px; */
}
.mainCene>:last-child{
    margin-top: 24px;
}
.mainCene p{
    margin-top: 16px;
    font-size: 17px;
}
.button{
    background-color: var(--secondary1);
    color: var(--primary);
    padding: 10px;
    border-radius: 10px;
    font-size: 25px;
    
}
.odmor p{
    margin-top: 16px;
    font-weight: bold;
}


.posno{
    display: flex;
    align-items: center;
    justify-content: center;
}





.kategorije {
    display: grid;
    grid-template-columns: repeat(2,500px);
    grid-template-rows: repeat(4,300px);
    gap: 0.5em;
    justify-content: center;
}
.kategorije a{
    border: 4px solid var(--primary);
}
.kat{
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    color: var(--primary);
    font-size: 50px;
    font-weight: bold;
    border: 0px solid var(--secondary1);

    transition: transform 0.5s ease, border 0.2s ease;
}
.st{
    background-image: url("../resources/images/SM/SM156.webp");
}
.kk{
    background-image: url("../resources/images/KO/KO16.webp");
}
.dt{
    background-image: url("../resources/images/DM/DM585.webp");
}
.sl{
    background-image: url("../resources/images/SL/SL31.webp");
}
.pt{
    background-image: url("../resources/images/PT/PT7.webp");
}
.js{
    background-image: url("../resources/images/JS/JS6.webp");
}
.fi{
    background-image: url("../resources/images/FM/FM13.webp");
}
.mt{
    background-image: url("../resources/images/MM/MM20.webp");
    background-position:unset;
}

.kat:hover{
    transform: scale(103%);
    border: 4px solid var(--secondary1);
}
.kategorije img{
    width: 500px;
    height: 300px;
    object-fit:cover;
}
.sve{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* align-items: center; */
}





.KWrapper{
    display: grid;
    grid-template-columns: 20vw 50vw 7vw;
    grid-auto-rows: 70px;
    align-items: stretch;
    /* background-color: var(--secondary3); */
    
}
.sve div div{
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--secondary3);
    border-left: 2px solid var(--secondary3);

    padding: 1rem;
}
.sve div div p{
    color: black;
    font-size: 25px;
}
.KWrapper div:has(i){
    display: flex;
    justify-content: center;
    border-right: 2px solid var(--secondary3);
}
.sve div div:has(h3){
    border-top: 2px solid var(--secondary3);
}
.sve div div:nth-of-type(3n){
    border-right: 2px solid var(--secondary3);
}
.sve div>h3{
    /* text-shadow: 1px 1px 5px black; */
    font-size: 1.5vw;
    color: var(--secondary3);
    
}
.KWrapper div i{
    color: var(--secondary3);
    font-size: 30px;
    
}
.SWrapper{
    display: grid;
    grid-template-columns: 20vw 40vw 10vw;
    grid-auto-rows: 5vw;
    align-items: stretch;
    /* background-color: var(--secondary3); */
}

.sve>h2{
    margin-top: 24px;
    margin-bottom: 64px;
}
.TWrapper{
    /* background-color: var(--secondary3); */
    padding: 0vw;
    border-radius: 10px;
    margin-bottom: 2vw;
}
.TWrapper h3{
    color: var(--secondary1);
}
.sve div .cokoTorte{
    display: grid;
    grid-template-columns: 300px 900px;
    grid-template-rows: repeat(100px,9);
    align-items: stretch;
    
    
}
.sve div .ukusiTorte{
    border-radius: 10px;
    margin-top: 10px;
    border: none;
    padding: 0px;
}
.sve div .ukusiTorte>h3:first-child{
    grid-column: span 2;
    color: var(--secondary2);
    text-shadow: 2px 2px 5px black;
}
.sve div .ukusiTorte>h4{
    color: var(--secondary1);
}
.sve div .ukusiTorte>*{
    padding: 2px 10px;
    border-bottom: 2px solid var(--secondary3);
    border-left: 2px solid var(--secondary3);
    padding: 0.5vw;
}
.sve div .ukusiTorte p{
    color: black;
}
.ukusiTorte *:nth-of-type(2n){
    border-right: 2px solid var(--secondary3);
}
.ukusiTorte h4{
    border-top: 2px solid var(--secondary3);
}

.sve div  .kremasteTorte,.sve div .vocneTorte{
    display: grid;
    grid-template-columns: 300px 900px;
    grid-template-rows: repeat(100px,7);
}
.sve div  .posneTorte{
    display: grid;
    grid-template-columns: 300px 900px;
    grid-template-rows: repeat(100px,5);
}



.idTorte{
    margin-top: 32px;
    color: var(--secondary3);
}

.slike{
    display: grid;
    grid-template-columns: repeat(5,250px);
    grid-template-rows: repeat(3,200px);

    justify-content: center;
    
    
    /* border: 2px solid var(--secondary1); */
    /* background-color: var(--secondary3); */
    margin-top: 1vw;
    padding: 0.5vw 2vw;
    gap: 10px;
}
.slike>*{
    /* border: 2px solid var(--primary); */
    opacity: 0;
    transition-duration: 0.3s;
}

.slikaTorte{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.strane{
    display: flex;
    justify-content: center;
    gap: 10px;
    /* background-color: var(--secondary3); */
}
.strane *{
    color: var(--secondary3);
    font-size: 30px;
    user-select: none;
}
.strane>p:first-of-type{
    color: var(--secondary1);
}
.view{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);

    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    transition-duration: 0.5s;

    display: none;

    z-index: 9999999999999;
}
.controls{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 2rem 5rem;

}

.controls p:hover{
    cursor: pointer;
}
.view .controls>p{
    user-select: none;
    color: var(--secondary3);
    font-size: 40px;
    /* border: 2px solid var(--primary); */
    border-radius: 50%;
    font-weight: bold;
    padding: 1vw;

}
.viewWrapper{
    background-color: rgba(0,0,0,0.4);
    /* background-color: rgba(233, 162, 213,0.4); */
    border: 2px solid var(--secondary1);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
}
.sifraWrapper{
    display: flex;
    justify-content: center;
}
#sifra{
    color: white;
}
#x{
    position: absolute;
    top: 0;
    right: 0;
}
#velikaSlika{
    width: 500px;
    height: 600px;
    border-radius: 10px;
    object-fit:contain;

}
.strane *:hover{
    cursor: pointer;
}
.t1{
    display: none;
}

/* .map{
    display: flex;
    flex-wrap: wrap;
}
.map h3{
    text-wrap: wrap;
} */






/* ⁡⁢⁣⁣Cenovnik⁡ */

.ceneWrap{
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.cene{
    display: grid;
    grid-template-columns: 50vw 300px;
    grid-auto-rows: 120px;
    align-items: stretch;

    background-color: var(--primary);
    /* border-radius: 20px; */

    padding: 1rem;
}

.cene div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid var(--secondary1);
    padding: 1rem;
}
.cene div>p:last-of-type{
    color: black;
}
.cene div>p:first-of-type{
    font-size: 30px;
}
.cene .sep{
    grid-column: span 2;
    margin-top: 54px;
}

.torte{
    margin-top: 64px;
    margin-bottom: 128px;
    display: flex;
    justify-content: center;
    gap: 32px;
}
.torte>div{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.torte img{
    object-fit: cover;
    object-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;

    

    transition: transform 0.5s ease, border 0.2s ease;

    width: 25vw;
    height: 15vw;
    /* margin: 3px; */
    /* border: 4px solid var(--primary); */
}
.torte div div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    gap: 50px;
    /* border:2px solid var(--secondary1); */
    background-color: var(--secondary3);
    padding-bottom: 8px;
    border-top:0px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;

}
.torte div div a{
    font-size: 25px;
    /* background-color: var(--primary); */
    /* border: 1px solid black; */
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    color: var(--primary);

    /* font-style: italic; */
    text-shadow: 2px 2px 5px  black;
    /* border-bottom:2px solid var(--secondary1); */

}
.torte a:hover{
    transform: scale(110%);
}

.torte h2{
    margin-bottom: 16px;
}
.sm{
    background-image: url("../resources/images/SM/SM28.webp");
}
.ss{
    background-image: url("../resources/images/SS/SS24.webp");
}
.mm{
    background-image: url("../resources/images/MM/MM3.webp");
}
.ms{
    background-image: url("../resources/images/MS/MS21.webp");
}
.dm{
    background-image: url("../resources/images/DM/DM8.webp");
}
.ds{
    background-image: url("../resources/images/DS/DS1.webp");
}
.trt{


    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

   

    transition: transform 0.5s ease, border 0.2s ease;

    width: 25vw;
    height: 15vw;
    margin: 3px;
    border: 4px solid var(--primary);
}
.trt:hover{
    transform: scale(103%);
    border: 4px solid var(--secondary1);
}

.trt span{
    color: var(--primary);
    font-size: 30px;
    font-weight: bold;
    border-radius: 20px;
    /* background-color: var(--secondary3); */
    background-color:  rgba(101, 170, 165, 0.7);
    
    padding: 5px;
}








@media only screen and (max-width: 600px){
    
    footer{
        flex-direction: column;
        gap: 24px;
        padding: 10px;
    }
    iframe{
        width: 90vw;
    }
    .col{
        width: 85vw;
    }
    .info{
        width: 90vw;
    }
    
    header{
        gap: 0px;
        width: 90vw;
    }
    header>ul{
        gap: 0px;
    }   
}





::selection {
  background: var(--secondary1); /* žuta pozadina */
  color: var(--primary);
}